<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <h1>Your list of <label th:text="${images.size()}"></label> random numbers</h1>
        <div th:if="${not #lists.isEmpty(images)}">
            <span th:each="image : ${images}">
                <img width="200" th:src="@{${image.filePath}}">
            </span>
        </div>
    </body>
</html>